# Create a (4*2) dataFrame from list of list , dictionary, list of tuples .

In [2]:
import pandas as pd
data = [{'Name': 'Mehul', 'Age': 21, 'University': 'Tufts'},
        {'Name':'Kaustabh', 'Age': 21, 'University': 'UIUC'}] 
    
# Creates DataFrame. 
dataframe = pd.DataFrame(data)

In [3]:
dataframe

       Name  Age University
0     Mehul   21      Tufts
1  Kaustabh   21       UIUC

# Read the dataset and find out the various aspects of the dataframe like shape , datatypes,number of null values per column etc .

In [5]:
    file = "data_demo.xlsx"
    data = pd.read_excel(file) #reading file

In [7]:
data.shape

(30080, 34)

In [8]:
data.dtypes

Patient_Id                        int64
Claim_Id                        float64
Drug_Id                           int64
Drug_Name                        object
Drug_Group                       object
Physician_Id                    float64
Plan_Id                           int64
Plan_Name                        object
Plan_Type                        object
Patient_Pay                     float64
Plan_Pay                        float64
Secondary_Plan_Id               float64
Secondary_Plan_Name              object
Secondary_Plan_Type              object
Secondary_Plan_Pay              float64
Patient_Out_Of_Pocket           float64
Refill_Code                       int64
Quantity                        float64
Days_Supply                       int64
Sequence_Number                 float64
Claim_Status                    float64
Reject_Code                     float64
Reject_Description              float64
New_To_Product                  float64
Ptd_final_Claim                 float64
NonMarket_Claim                   int64
Deletion_Flag                   float64
monthYear                        object
Rx_Fill_Date             datetime64[ns]
firstRecord              datetime64[ns]
PreDate                  datetime64[ns]
PostDate                 datetime64[ns]
Flag                             object
Period                           object
dtype: object

In [9]:
data.isna().sum() # number of null values per column

Patient_Id                   0
Claim_Id                     0
Drug_Id                      0
Drug_Name                    0
Drug_Group               26122
Physician_Id               734
Plan_Id                      0
Plan_Name                    0
Plan_Type                    0
Patient_Pay                250
Plan_Pay                  9791
Secondary_Plan_Id        30033
Secondary_Plan_Name      30033
Secondary_Plan_Type      30033
Secondary_Plan_Pay       30033
Patient_Out_Of_Pocket    28911
Refill_Code                  0
Quantity                     0
Days_Supply                  0
Sequence_Number          28911
Claim_Status             28911
Reject_Code              30080
Reject_Description       30080
New_To_Product           28911
Ptd_final_Claim          28911
NonMarket_Claim              0
Deletion_Flag            29784
monthYear                    0
Rx_Fill_Date                 0
firstRecord                  0
PreDate                      0
PostDate                     0
Flag                         0
Period                       0
dtype: int64

In [10]:
data.describe() # basic stats of each column

,Patient_Id,Claim_Id,Drug_Id,Physician_Id,Plan_Id,Patient_Pay,Plan_Pay,Secondary_Plan_Id,Secondary_Plan_Pay,Patient_Out_Of_Pocket,...,Quantity,Days_Supply,Sequence_Number,Claim_Status,Reject_Code,Reject_Description,New_To_Product,Ptd_final_Claim,NonMarket_Claim,Deletion_Flag
count,3.008000e+04,3.008000e+04,3.008000e+04,2.934600e+04,30080.000000,29830.000000,20289.000000,47.000000,47.000000,1169.000000,...,30080.000000,30080.000000,1.169000e+03,1169.0,0.0,0.0,1169.000000,1169.000000,30080.000000,296.0
mean,2.935396e+08,2.582333e+16,3.782169e+05,1.397528e+07,468165.825798,11.056233,124.247394,309486.234043,167.112766,26.134354,...,76.732298,37.248936,2.016958e+07,1.0,NaN,NaN,0.367836,1.622754,0.961137,1.0
std,2.693285e+08,9.365236e+15,2.479599e+05,1.422043e+07,393511.832566,71.535929,707.480885,341138.746117,152.259646,80.881851,...,227.786864,25.974877,3.024607e+03,0.0,NaN,NaN,0.482423,2.144329,0.193272,0.0
min,8.257824e+07,1.592960e+16,7.700000e+02,6.257000e+03,4639.000000,0.000000,0.000000,5737.000000,15.000000,0.000000,...,0.500000,1.000000,2.016050e+07,1.0,NaN,NaN,0.000000,1.000000,0.000000,1.0
25%,1.137256e+08,2.413750e+16,3.019530e+05,8.126750e+05,7287.000000,0.000000,0.650000,5737.000000,25.000000,1.200000,...,30.000000,30.000000,2.017030e+07,1.0,NaN,NaN,0.000000,1.000000,1.000000,1.0
50%,1.860841e+08,2.587920e+16,3.581330e+05,8.629929e+06,680045.000000,1.750000,5.800000,8867.000000,116.580000,7.790000,...,30.000000,30.000000,2.017050e+07,1.0,NaN,NaN,0.000000,1.000000,1.000000,1.0
75%,3.589802e+08,2.731665e+16,4.085650e+05,2.785265e+07,840673.000000,7.300000,31.320000,685246.000000,265.500000,25.000000,...,90.000000,30.000000,2.017070e+07,1.0,NaN,NaN,1.000000,1.000000,1.000000,1.0
max,5.070169e+09,2.728549e+17,1.469681e+06,4.977988e+07,924251.000000,4833.400000,72694.140000,685246.000000,643.300000,894.990000,...,14220.000000,999.000000,2.018010e+07,1.0,NaN,NaN,1.000000,9.000000,1.000000,1.0

In [11]:
data.count() # number of non null values each column

Patient_Id               30080
Claim_Id                 30080
Drug_Id                  30080
Drug_Name                30080
Drug_Group                3958
Physician_Id             29346
Plan_Id                  30080
Plan_Name                30080
Plan_Type                30080
Patient_Pay              29830
Plan_Pay                 20289
Secondary_Plan_Id           47
Secondary_Plan_Name         47
Secondary_Plan_Type         47
Secondary_Plan_Pay          47
Patient_Out_Of_Pocket     1169
Refill_Code              30080
Quantity                 30080
Days_Supply              30080
Sequence_Number           1169
Claim_Status              1169
Reject_Code                  0
Reject_Description           0
New_To_Product            1169
Ptd_final_Claim           1169
NonMarket_Claim          30080
Deletion_Flag              296
monthYear                30080
Rx_Fill_Date             30080
firstRecord              30080
PreDate                  30080
PostDate                 30080
Flag                     30080
Period                   30080
dtype: int64

In [17]:
data.var(axis=0)

C:\Users\Mehul Gupta\AppData\Local\Temp\ipykernel_14980\1089104618.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.var(axis=0)

Patient_Id               7.253784e+16
Claim_Id                 8.770765e+31
Drug_Id                  6.148410e+10
Physician_Id             2.022206e+14
Plan_Id                  1.548516e+11
Patient_Pay              5.117389e+03
Plan_Pay                 5.005292e+05
Secondary_Plan_Id        1.163756e+11
Secondary_Plan_Pay       2.318300e+04
Patient_Out_Of_Pocket    6.541874e+03
Refill_Code              1.388339e+01
Quantity                 5.188686e+04
Days_Supply              6.746942e+02
Sequence_Number          9.148249e+06
Claim_Status             0.000000e+00
Reject_Code                       NaN
Reject_Description                NaN
New_To_Product           2.327317e-01
Ptd_final_Claim          4.598146e+00
NonMarket_Claim          3.735394e-02
Deletion_Flag            0.000000e+00
dtype: float64

 # Convert ‘firstRecord’ column in dataFrame to a Datetime type column.​

In [21]:
data['firstRecord'] = pd.to_datetime(data['firstRecord'])

In [22]:
data['firstRecord']

0       2017-03-01
1       2017-03-01
2       2017-03-01
3       2017-03-01
4       2017-03-01
           ...
30075   2017-04-06
30076   2017-04-06
30077   2017-04-06
30078   2017-04-06
30079   2017-06-08
Name: firstRecord, Length: 30080, dtype: datetime64[ns]

# Replace NULL value in ‘Drug_Group’ column with ‘//’.

In [18]:
data['Drug_Group']=data['Drug_Group'].fillna('//')

In [19]:
data['Drug_Group']

0                    //
1                    //
2                    //
3                    //
4                    //
              ...
30075                //
30076                //
30077                //
30078    DIURETICS/LOOP
30079                //
Name: Drug_Group, Length: 30080, dtype: object

# Convert the format of ‘Rx_Fill_Date’ column to mm/dd/yy.

In [23]:
data["Rx_Fill_Date"] = data["Rx_Fill_Date"].dt.strftime('%m/%d/%y')

In [24]:
data["Rx_Fill_Date"]

0        02/10/17
1        06/08/17
2        08/25/17
3        04/29/17
4        06/14/17
           ...
30075    05/28/17
30076    05/26/17
30077    05/27/17
30078    05/27/17
30079    08/16/17
Name: Rx_Fill_Date, Length: 30080, dtype: object

# Create another df containing the rows having ‘Flag’ as ‘All Approved’.​

In [25]:
data_temp = data

In [27]:
data["Flag"]

0        All Reversals
1        All Reversals
2        All Reversals
3        All Reversals
4        All Reversals
             ...
30075            Mixed
30076            Mixed
30077            Mixed
30078            Mixed
30079     All Approved
Name: Flag, Length: 30080, dtype: object

In [28]:

data_temp['Flag'] = data_temp['Flag'].replace( pd.unique(data_temp['Flag']) , 'All Approved')

In [29]:
data_temp['Flag']

0        All Approved
1        All Approved
2        All Approved
3        All Approved
4        All Approved
             ...
30075    All Approved
30076    All Approved
30077    All Approved
30078    All Approved
30079    All Approved
Name: Flag, Length: 30080, dtype: object

# Create a column called ‘Duration’ depicting the duration between pre and post dates in seconds.

In [31]:
data_temp["Duration"] = (data_temp["PostDate"] - data_temp["PreDate"]).dt.total_seconds()

In [32]:
data_temp["Duration"]

0        34041600.0
1        34041600.0
2        34041600.0
3        34041600.0
4        34041600.0
            ...
30075    34128000.0
30076    34128000.0
30077    34128000.0
30078    34128000.0
30079    34128000.0
Name: Duration, Length: 30080, dtype: float64

# Extract the maximum and minimum of all integer ,float and datetime type columns in the dataframe.

In [35]:
data_temp.select_dtypes(include='int').max()

Patient_Id         5070168569
Drug_Id               1469681
Plan_Id                924251
Refill_Code                99
Days_Supply               999
NonMarket_Claim             1
dtype: int64

In [36]:
data_temp.select_dtypes(include='int').min()

Patient_Id         82578242
Drug_Id                 770
Plan_Id                4639
Refill_Code               0
Days_Supply               1
NonMarket_Claim           0
dtype: int64

In [37]:
data_temp.select_dtypes(include='float64').max()

Claim_Id                 2.728549e+17
Physician_Id             4.977988e+07
Patient_Pay              4.833400e+03
Plan_Pay                 7.269414e+04
Secondary_Plan_Id        6.852460e+05
Secondary_Plan_Pay       6.433000e+02
Patient_Out_Of_Pocket    8.949900e+02
Quantity                 1.422000e+04
Sequence_Number          2.018010e+07
Claim_Status             1.000000e+00
Reject_Code                       NaN
Reject_Description                NaN
New_To_Product           1.000000e+00
Ptd_final_Claim          9.000000e+00
Deletion_Flag            1.000000e+00
Duration                 3.412800e+07
dtype: float64

In [38]:
data_temp.select_dtypes(include='float64').min()

Claim_Id                 1.592960e+16
Physician_Id             6.257000e+03
Patient_Pay              0.000000e+00
Plan_Pay                 0.000000e+00
Secondary_Plan_Id        5.737000e+03
Secondary_Plan_Pay       1.500000e+01
Patient_Out_Of_Pocket    0.000000e+00
Quantity                 5.000000e-01
Sequence_Number          2.016050e+07
Claim_Status             1.000000e+00
Reject_Code                       NaN
Reject_Description                NaN
New_To_Product           0.000000e+00
Ptd_final_Claim          1.000000e+00
Deletion_Flag            1.000000e+00
Duration                 3.404160e+07
dtype: float64

In [39]:
data_temp.select_dtypes(include='datetime64[ns]').max()

firstRecord   2017-07-31
PreDate       2017-01-01
PostDate      2018-01-31
dtype: datetime64[ns]

In [40]:
data_temp.select_dtypes(include='datetime64[ns]').min()

firstRecord   2016-11-01
PreDate       2016-05-01
PostDate      2017-05-31
dtype: datetime64[ns]

# Convert data in ‘Plan_Name’ column to lowercase.

In [41]:
data_temp['Plan_Name'] = data_temp['Plan_Name'].apply(str.lower)

In [43]:
data_temp['Plan_Name']

0                                horizon medicare rx pdp04
1                                horizon medicare rx pdp04
2                                horizon medicare rx pdp04
3                                horizon medicare rx pdp04
4                                horizon medicare rx pdp04
                               ...
30075    medicare limited income newly eligible transit...
30076    medicare limited income newly eligible transit...
30077    medicare limited income newly eligible transit...
30078    medicare limited income newly eligible transit...
30079                             humana health plan pdp32
Name: Plan_Name, Length: 30080, dtype: object

# Extract the number of NULL values in each column of the data frame.​

In [44]:
data_temp.isna().sum() # number of null values per column

Patient_Id                   0
Claim_Id                     0
Drug_Id                      0
Drug_Name                    0
Drug_Group                   0
Physician_Id               734
Plan_Id                      0
Plan_Name                    0
Plan_Type                    0
Patient_Pay                250
Plan_Pay                  9791
Secondary_Plan_Id        30033
Secondary_Plan_Name      30033
Secondary_Plan_Type      30033
Secondary_Plan_Pay       30033
Patient_Out_Of_Pocket    28911
Refill_Code                  0
Quantity                     0
Days_Supply                  0
Sequence_Number          28911
Claim_Status             28911
Reject_Code              30080
Reject_Description       30080
New_To_Product           28911
Ptd_final_Claim          28911
NonMarket_Claim              0
Deletion_Flag            29784
monthYear                    0
Rx_Fill_Date                 0
firstRecord                  0
PreDate                      0
PostDate                     0
Flag                         0
Period                       0
Duration                     0
dtype: int64

In [45]:
pd.unique(data['Flag'])

array(['All Approved'], dtype=object)

In [46]:
data["Flag"]

0        All Approved
1        All Approved
2        All Approved
3        All Approved
4        All Approved
             ...
30075    All Approved
30076    All Approved
30077    All Approved
30078    All Approved
30079    All Approved
Name: Flag, Length: 30080, dtype: object

In [47]:
file = "data_demo.xlsx"
data_temp_new = pd.read_excel(file) #reading file

In [48]:
data_temp_new['Flag']

0        All Reversals
1        All Reversals
2        All Reversals
3        All Reversals
4        All Reversals
             ...
30075            Mixed
30076            Mixed
30077            Mixed
30078            Mixed
30079     All Approved
Name: Flag, Length: 30080, dtype: object

In [49]:
pd.unique(data_temp_new['Flag']) # name of unique values

array(['All Reversals', 'All Approved', 'Mixed', 'All Rejected'],
      dtype=object)

In [52]:
len(pd.unique(data_temp_new['Flag'])) # num of unique values

4

In [53]:
data_temp_new.Flag.value_counts() # number of rows to each unique value

All Approved     14478
All Rejected      8658
All Reversals     3823
Mixed             3121
Name: Flag, dtype: int64

In [ ]:
df_category = pd.DataFrame({'team': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'],